@media custom-media-for-rtl {
    .useRTLRule {
        float: right;
        position: relative;
        direction: ltr;
    }
    .mixedRule {
        /*!rtl:raw: margin-right: 4px; */
        margin-right: 4px;
    }
}

.noRTLRule {
    width: 100px;
}
