.column{float:left;width:25%}@media custom-media-modules-pcss-3{.column1{float:right;width:45%}}@media screen and (max-width:992px){.column{width:50%}@media custom-media-modules-pcss-3{.column1{width:25%}}}@media custom-media-modules-pcss-3{@media screen and (max-width:600px){.column{width:100%}}}